#workbenchCommandBar {
    display: none !important;
  }
  
  #SuiteNavWrapper {
    display: none !important;
  }
  #spCommandBar {
    display: none !important;
  }
  #spSiteHeader {
    display: none !important;
  }